/*MAIN*/
$base-color: rgb(18, 18, 18);
$accent-color: rgb(143, 212, 233);
$background-color: rgb(240, 234, 226);
$accent-font: 'Dosis', sans-serif;
$main-font: 'Open Sans', sans-serif;
$heading-font: 'Pangolin', cursive;

body{
    font-size: 62.5%;
    font-family: $main-font;
}
p{
    font-size: 2rem;
}
.container{
    margin: 0 auto;
    width: 1000px;
}

img{
    width: 100%;
    display: block;
}

h1{
    font-family: $heading-font;
    text-align: center;
    padding: 10px;
    font-size: 5rem;
    color: $accent-color;
}

h2{
    font-size: 3rem;
    font-family: $accent-font;
}

ul{
    list-style: none;
}

.goBack{
    background-color: $accent-color;
    color: white;
    font-family: $heading-font;
    padding: 20px 50px;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 25px;
    margin-top: 1%;
    &:hover{
        color: white;
        background-color: rgb(48, 28, 119); /*placeholder*/
    }
}

/*LANDING PAGE*/
.petType{
    text-align: center;
}

.type{
    display: flex;

    button{
        background: transparent;
        border: none;
    }
    h2{
        margin: 0;
        text-transform: uppercase;
        font-size: 2rem;
    }
}

/*AGE PAGE*/
.age{
    display: flex;
    li{
        margin: 1% auto;
    }
    button{
        padding: 0px 50px;
        text-transform: uppercase;
        font-family: $heading-font;
        color: $accent-color;
        border-radius: 25px;
        background-color: transparent;
        border: none;
    }
}

.petAge{
    text-align: center;
}

.userLocation{
    p{
        display: inline;
        padding: 5px;
    }
    input{
        font-size: 2rem;
        padding: 0px 10px;
        border: 2px dashed $accent-color;
        color: $accent-color;
    }
}

/*ADOPTION PAGE*/

.adoptablePets{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1%;

    button{
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    img{
        flex-grow: 1;
        object-fit: cover;
        position: absolute;
        padding: 30px;
    }
}


/*PET ADOPTION PAGE*/
.petInformation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
    "title title title"
    "petImage petStory breedFacts"
     "petImage petFacts location"
     "adoptMe adoptMe adoptMe";

     h2{
         grid-area: title;
         margin: 0;
         padding: 5px 0px;
     }

     h3{
         font-size: 2rem;
         color: $accent-color;
         margin: 0;
     }
     .petName{
        text-decoration:underline;
        text-decoration-color: $accent-color;
     }

     li{
         font-size: 1rem;
         color: black; /*to change*/
     }
     ul{
        margin: 0;
        padding-left: 0;
    }
}

.petImage{
    grid-area: petImage;
    padding: 0 25px;
    img{
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
    }
}

.petFacts{
    grid-area: petFacts;
}

.breedFacts{
    grid-area: breedFacts;
}

.petStory{
    grid-area: petStory;
    p{
        font-size: 1rem;
        margin: 0;
    }
    padding: 5px;
}

.petLocation{
    grid-area: location;
    p{
        font-size: 1rem;
        margin: 0;
    }
    padding: 5px;
}

.adoptMe{
    grid-area: adoptMe;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: $accent-color;
    text-align: center;
    color: white; /*to change*/
    border-radius: 25px;
    margin: 1% 0;
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: red; /*placeholders*/

    }
    a:visited{
        color: white;
        text-decoration: none;
    }
}


footer{
    text-align: center;
    text-transform: uppercase;
    background-color: $accent-color;
    color: white;
    p{
        margin: 0;
        padding: 5px;
        font-size: 1rem;
    }
}


