/*MAIN*/

/*VARIABLES*/
$base-color: #3fc1c9;
$barColor: #ffbfd6;
$accent-color: #f393b5;
$light-color: #e8f6fd;
$dark-color: #023055;
// $light-color-opacity: rgba(255, 254, 234, 0.8);
$background-color: #E2EAEE;
$accent-font: 'Dosis',
sans-serif;
$main-font: 'Open Sans',
sans-serif;
$heading-font: 'Pangolin',
cursive;

body {
    font-size: 62.5%;
    font-family: $main-font;
    background-image: url(../assets/bgPattern.png);
    background-color: $light-color; /*fallback*/
    background-size: contain;
    color: $dark-color;
    position: relative;
}

header {
    min-height: 15vh;
    background-color: $accent-color;
    border-bottom: 5px solid $dark-color;

    .headerMain {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .backButton {
        position: absolute;
        left: 100px;
    }
}

main {
    min-height: 80vh;
    padding: 20px 0;

}

p {
    font-size: 2rem;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    width: 80%;
}

img {
    width: 100%;
    display: block;
}

button {
    border: none;
    padding: 5px 40px;
    transition: all 0.5s;
}

h1 {
    font-family: $heading-font;
    text-align: center;
    padding: 10px 200px;
    font-size: 5rem;
    letter-spacing: 5px;
    margin-top: 1%;
    margin-bottom: 0;
    color: $dark-color;
    text-shadow: 5px 5px $base-color;
    cursor: pointer;
    background-color: $accent-color;
    border-radius: 50px;
}


h2 {
    font-size: 3rem;
    font-family: $accent-font;
    margin: 0;
    color: $dark-color;
    margin-bottom: 10px;
    padding: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.backButton {
    background-color: $base-color;
    color: white;
    font-family: $heading-font;
    padding: 10px 30px;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 25px;
    border: 3px solid $dark-color;
    margin: 1% 0;

    &:hover {
        color: $base-color;
        background-color: $dark-color;
        border: 3px solid $base-color;
    }
    &:focus{
        border: 5px solid $light-color;
    }
}

/*LANDING PAGE*/
.petType {
    text-align: center;
    padding: 20px 0;
}

.type {
    display: flex;
    justify-content: center;

    button {
        background: transparent;

        &:disabled {
            opacity: 0.8;
        }
    }
    
    p {
        margin: 0;
        text-transform: uppercase;
        font-size: 3rem;
        font-family: $heading-font;
        text-shadow: $base-color 3px 3px;
    }

    img {
        max-width: 320px;
    }
}

.userLocation {
    font-family: $heading-font;
    padding-bottom: 20px;

    p {
        display: inline;
    }

    input {
        font-size: 2rem;
        padding: 0px 15px;
        color: $accent-color;
        border: none;
        border-bottom: $accent-color solid 3px;
        background-color: rgba(244, 244, 244, 0.3);
    }
    
    &:focus{
        border: 5px solid $light-color;
    }
}

/*SPEECH BUBBLE*/
.speechBubble {
    position: relative;
    background: $dark-color;
    width: 50%;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;

    p {
        font-size: 1.1rem;
        padding: 30px;
        font-family: $heading-font;
        color: $light-color;
    }
}

.speechBubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: $dark-color;
    border-bottom: 0;
    border-left: 0;
    margin-left: -21.5px;
    margin-bottom: -43px;  /*arrow*/
}


/*AGE PAGE*/
.age {
    display: flex;
    justify-content: space-between;
    margin: 50px;

    li {
        width: 20%;
    }

    button {
        text-transform: uppercase;
        font-family: $heading-font;
        color: $dark-color;
        text-shadow: $accent-color 2px 2px;
        background-color: transparent;
        border: none;
    }
    
    &:focus{
        border: 5px solid $light-color;
    }

    & li:last-child {
        padding: 0;
    }
}

.petAge {
    text-align: center;

    h2 {
        background-color: white;
        border: solid 5px $dark-color;
        box-shadow: 10px 10px 0 $accent-color;
        margin-bottom: 100px;

        span {
            font-family: $heading-font;
            box-shadow: inset 0 -5px 0 $dark-color;
        }
    }
}


/*LIST OF ADOPTABLE PETS BY AGE*/
.adoptionOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adoptablePets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;

    .adoptionButton {
        border: solid $dark-color 5px;
        border-radius: 30px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 280px;

        .info {
            border-radius: 20px;
            padding: 10px;
            margin-top: 10px;
        }
    }

    p {
        text-transform: uppercase;
        font-family: $heading-font;
        margin: 0;
        width: 100%;
        color: $dark-color;
        text-shadow: 1px 1px 1px $light-color;
        z-index: 1;
        font-size: 1rem;
        padding: 0 5px;
    }

    p:first-child {
        top: 50px;
        font-size: 1rem;
    }

    button {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        background: transparent;
        padding: 10px;
        border: none;
        &:hover{
            background-color: $accent-color;
            border: solid $base-color 5px;
            img{
                border: solid $dark-color 5px;
                width: 260px;
                height: 260px;
            }
        }
        &:focus{
            border: 5px solid $light-color;
        }
    }

    img {
        width: 250px;
        height: 250px;
        object-fit: cover; /*stop image stretching*/
        border-radius: 50%;
        position: relative;
        border: solid 5px $base-color;
    }
}

/*PET ADOPTION PAGE*/
.petInformation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    padding-bottom: 50px;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
        "title title title"
        "petImage petStory petStory"
        "petImage petFacts location"
        "breedFacts breedFacts breedFacts"
        "adoptMe adoptMe adoptMe";

    h2 {
        grid-area: title;
        margin: 0;
        padding: 5px 0px;
        text-align: center;
    }

    h3 {
        font-size: 2.5rem;
        color: $base-color;
        text-shadow: 3px 2px $dark-color;
        font-family: $heading-font;
        margin: 0;
    }

    .petName {
        box-shadow: inset 0 -5px 0 $accent-color;
    }

    li {
        font-size: 1rem;
    }

    ul {
        margin: 0;
        padding-left: 0;
    }

    a {
        color: $accent-color;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s;
    }
    a:hover{
        color: $base-color;
        border-bottom: 2px dashed $accent-color;
    }
    a:focus{
        color: $base-color;
        border-bottom: 5px dashed $dark-color;
    }

    p,
    ul {
        padding: 5px;
    }
}

.petImage {
    grid-area: petImage;
    padding: 50px;

    img {
        object-fit: cover; /*to not stretch image*/
        overflow: hidden;
        height: 20vw;
        width: 20vw;
        box-shadow: 10px 10px $accent-color;
        border: solid 5px $dark-color;
    }
}

.petFacts,
.petStory,
.petLocation,
.breedFacts {
    padding: 20px;
    box-shadow: 10px 10px $accent-color;
    background-color: white;
    border: solid 5px $dark-color;

    p {
        font-size: 1rem;
        margin: 0;
    }

    .reColor{
        color: $accent-color;
        font-weight: 800;
    }
}

.petFacts {
    grid-area: petFacts;
}

.breedFacts {
    grid-area: breedFacts;

    li {
        display: flex;
    }
}

.petStory {
    grid-area: petStory;
}

.petLocation {
    grid-area: location;
}

.adoptMe {
    grid-area: adoptMe;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: $heading-font;
    padding: 10px 0;
    width: 50%;
    margin: 10px auto;
    text-align: center;
    color: white;
    border-radius: 25px;

    a {
        text-decoration: none;
        background-color: $accent-color;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
    }

    a:hover {
        box-shadow: $dark-color 10px 10px;
        color: $dark-color;
    }

    a:visited {
        color: $base-color;
        text-decoration: none;
    }
    a:focus{
        border: 3px dashed $dark-color;
    }
}

/*ALERT SECTION*/
.alert {
    background-color: $accent-color;
    color: $background-color;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    z-index: 1;
    box-shadow: $dark-color 10px 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    padding-bottom: 0;

    button {
        background-color: $base-color;
        color: $background-color;
        border-radius: 30px;
        font-size: 2rem;
        margin-bottom: 2%;
    }

    button:hover {
        box-shadow: $dark-color 10px 10px;
    }

    h3 {
        font-family: $heading-font;
        font-size: 3rem;
        padding-top: 20px;
        margin: 0;
        text-shadow: $dark-color 3px 3px;
    }

    p {
        margin: 0;
        font-size: 1.5rem;
        padding: 10px;
    }

    img {
        width: 40%;
        height: 40%;
        margin: 0 auto;
    }
}

/*LOADING SCREEN*/
.loadingScreen {
    background-color: $base-color;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: $dark-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        border: solid 5px $dark-color;
        padding: 20px;
        text-align: center;
        background-color: $light-color;
        border-radius: 50%;
    }

    p {
        font-size: 3rem;
        background-color: $light-color;
        border: solid 5px $dark-color;
        padding: 10px;
    }

    & span {
        animation: appear infinite alternate-reverse 1s;
    }

    & span:nth-of-type(2) {
        animation: appear infinite alternate-reverse 1s 0.33s;
    }

    & span:nth-of-type(3) {
        animation: appear infinite alternate-reverse 1s 0.66s;
    }

    img {
        width: 50%;
        margin: 0 auto;
    }
}

/* FACT METER */
.factmeter1,
.factmeter2,
.factmeter3,
.factmeter4,
.factmeter5 {
    width: 40%;
    height: 20px;
    border: 2px solid $base-color;
    position: absolute;
    left: 30%;
    border-radius: 25px;
}

.factmeter1 {
    background-image: linear-gradient(to right, $barColor 20%, $light-color 0%);
}

.factmeter2 {
    background-image: linear-gradient(to right, $barColor 40%, $light-color 0%);
}

.factmeter3 {
    background-image: linear-gradient(to right, $barColor 60%, $light-color 0%);
}

.factmeter4 {
    background-image: linear-gradient(to right, $barColor 80%, $light-color 0%);
}

.factmeter5 {
    background-image: linear-gradient(to right, $barColor 100%, $light-color 0%);
}

/*FOOTER*/
footer {
    min-height: 5vh;
    text-align: center;
    text-transform: uppercase;
    font-family: $heading-font;
    background-color: $base-color;
    transition: all 0.5s;

    p {
        margin: 0;
        padding: 10px;
        font-size: 1rem;
    }
}

//POPIN CAT & DOG
.popInCat,
.popInDog {
    display: none;
    // position: absolute;
    // top: 0;
    // right: 0;
    // height: 20%;
    // width: 20%;
    // z-index: 1;
}


// KEYFRAMES

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}