@media (max-width: 1295px) {

    .speechBubble{
       p{
         padding: 20px 10px;
       }
    }

    .petImage{
        height: 40vh;
        width: 40vh;
    }


    .adoptionOptions h2{
        font-size: 2.5rem;
        
        span{
            box-shadow: inset 0 -3px 0 $dark-color;
        }
    }
}

@media (max-width: 990px) {

    h1{
        font-size: 3.5rem;
        text-shadow: 4px 4px $base-color;
    }

    .speechBubble{
       p{
         padding-top: 15px;
         font-size: .9rem;
       }
    }

    .petAge h2{
        font-size: 2.5rem;
        span {
            box-shadow: inset 0 -3px 0 $dark-color;
        }
    }

    .adoptablePets{
        gap: 10px;
        padding: 20px;
    }

    .petInformation{
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, min-content);
        grid-template-areas:
        "title title"
        "petImage petStory"
        "petFacts location"
        "breedFacts breedFacts"
        "adoptMe adoptMe";

        .adoptMe{
            width: 100%;
            align-self: center;
            margin-bottom: 1%;

            a{
                font-size: 3rem;
            }
        }
    }

    .petImage{
        height: 51vh;
        width: 51vh;
    }

    .factmeter1, .factmeter2, .factmeter3, .factmeter4, .factmeter5 { 
        width: 40%;
        height: 20px;
        border: 2px solid  #3fc1c9;
        right: 20px;
        left: initial;
        border-radius: 25px;
    }
}

@media(max-width: 908px){

    .petAge h2{
        padding: 8px 5px;
        font-size: 2.2rem;
    }

    .adoptablePets{
        padding: 10px;
        img{
            width: 200px;
            height: 200px;
        }
    }

    .adoptionOptions{
        padding-top: 20px;

        h2{
            font-size: 1.7rem; 

            span{
                box-shadow: inset 0 -3px 0 $dark-color;
            }
        }

    }
}

@media(max-width: 775px){

    .container {
        width: 90%;
    }

    .petInformation{
        gap: 10px;
    }

    .type {

        width: 100%;
        li {
            min-width: auto;
        }

        button {
            padding: 0;
        }
    }

    .petFacts,
    .petStory,
    .petLocation,
    .breedFacts {
        padding: 10px;
        box-shadow: 4px 4px $accent-color;
    }

    .petImage{
        box-shadow: 4px 4px $accent-color;
    }

    .adoptablePets{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        img{
            width: 250px;
            height: 250px;
        }
    }

    .speechBubble{
        width: 75%;
        margin-bottom: 30px;
    }
}

@media (max-width: 695px) {

    h1{
        font-size: 2.8rem;
    }

    .age li {
        flex-basis: 40%;
        max-width: none;
    }

    .type li {
        flex-basis: 50%;
    }
    
    .loadingScreen{

        div{
        box-shadow: 5px 5px $dark-color;
        }

        p {
            font-size: 2rem;
            font-family: $heading-font;
            text-shadow: 2px 2px $base-color;
            padding: 10px;
        }
    }

    .userLocation {
        flex-direction: column;

        input {
            width: 80%;
            text-align: center;
        }
    }

    .adoptionOptions{
        padding-top: 15px;

        h2{
            font-size: 1.6rem; 
            text-align: center;
            padding: 7px;

            span{
                box-shadow: inset 0 -3px 0 $dark-color;
            }
        }
    }

    .petAge h2{
        font-size: 2rem;
    }

    .adoptablePets{
        img{
            width: 200px;
            height: 200px;
        }
    }

    .petInformation{
        
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, min-content);
        grid-template-areas:
        "title"
        "petImage"
        "petStory"
        "petFacts"
        "location"
        "breedFacts"
        "adoptMe";
    }

    .petImage{
        margin: 0 auto;
    }
    .nextPhoto, 
    .previousPhoto{
        top: 50%;

    }
}


@media (max-width: 550px) {

    .backButton {
        margin: 0;
        padding: 5px 10px;
    }
    
    h1{ 
        font-size: 2.5rem;
        text-shadow: 2px 2px $base-color;
    }

    .speechBubble{
        margin-top: 20%;
        width: 100%;
        p{
            font-size: .88rem;
            padding: 7px 5px;
        }
    }

    .userLocation{
        p, input{
            font-size: 1.5rem;
        }
    }

    .type{
        padding-top: 30px;
        p{
            font-size: 2rem;
        }
    }

    .alert{ /*resizing alert box*/
        padding: 50px;
        padding-bottom: 0;

        h3{
            font-size: 2rem;
            padding-top: 0;
        }

        p{
            font-size: 1.2rem;
        }

        button{
            margin-top: 1%;
            font-size: 1rem;
        }

        button:hover {
            box-shadow: $dark-color 2px 2px;
        }

        img{
            height: 80%;
            width: 80%;
            padding-top: 10px;
        }
    }

    .adoptablePets{
        gap: 5px;
    }
}

@media (max-width: 475px) { 

    h1{
        font-size: 2rem;
        text-shadow: 2px 2px $base-color;
    }

    .userLocation{
        input,p{
            font-size: 1.2rem; /*to fix, maybe stack?*/
        }
    }

    .adoptionOptions{
        h2{
            font-size: 1.3rem;

            span{
                box-shadow: inset 0 -2px 0 $dark-color;
            }
        }
    }

    .adoptablePets{
        grid-template-columns: 1fr;
        gap: 20px;

        img{
            width: 250px;
            height: 250px;
        }
    }

    footer{
        p{
            font-size: .7rem;
            padding: 10px 0px;
        }
    }
}

@media(max-width: 385px){
    h1{
        font-size: 1.6rem;
        text-shadow: 2px 2px $base-color;
    }
}