@media (max-width: 1295px) {

    .speechBubble{
       p{
         padding: 20px 10px;
       }
    }

    .petImage{
        height: 40vh;
        width: 40vh;
    }
}

@media (max-width: 930px) {
    .speechBubble{
       p{
         padding-top: 15px;
         font-size: .9rem;
       }
    }
    .petInformation{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, min-content);
        grid-template-areas:
        "title title title"
        "petImage petStory petStory"
        "breedFacts petFacts location"
        "breedFacts adoptMe adoptMe";
    }
    .factmeter1, .factmeter2, .factmeter3, .factmeter4, .factmeter5 { /*TO FIX*/
        width: 7%;
        height: 20px;
        border: 2px solid  #3fc1c9;
        position: absolute;
        left: 32%;
        border-radius: 25px;
    }
    
    .breedFacts li{
        display: inline-block;
    }
}

@media (max-width: 650px) {
    .speechBubble{
        width: 65%;
    }
}


@media (max-width: 450px) {
    .speechBubble{
        width: 100%;
        p{
            font-size: .88rem;
            padding: 7px 5px;
        }
    }
}