article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/*MAIN*/
/*VARIABLES*/
body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-image: url(../assets/bgPattern.jpg);
  /*fallback*/
  background-size: contain;
  color: #284B52;
  position: relative;
}

header {
  min-height: 20vh;
}

header .headerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .backButton {
  position: absolute;
  left: 0px;
}

main {
  min-height: 75vh;
}

p {
  font-size: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 80%;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-family: "Pangolin", cursive;
  text-align: center;
  padding: 10px;
  font-size: 5rem;
  margin: 0;
  color: #56b1b1;
  text-shadow: 5px 5px #284B52;
}

h2 {
  font-size: 3rem;
  font-family: "Dosis", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.backButton {
  background-color: #284B52;
  color: #E2EAEE;
  font-family: "Pangolin", cursive;
  padding: 10px 30px;
  border: none;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 1% 0;
}

.backButton:hover {
  color: #284B52;
  background-color: #FCCFED;
}

/*LANDING PAGE*/
.petType {
  text-align: center;
}

.type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.type button {
  background: transparent;
  border: none;
}

.type h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2rem;
}

.type img {
  max-width: 400px;
}

/*AGE PAGE*/
.age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.age li {
  width: 20%;
}

.age button {
  text-transform: uppercase;
  font-family: "Pangolin", cursive;
  color: #FCCFED;
  border-radius: 25px;
  background-color: transparent;
  border: none;
}

.age li:last-child {
  padding: 0;
}

.petAge {
  text-align: center;
}

.userLocation {
  font-family: "Pangolin", cursive;
}

.userLocation p {
  display: inline;
  background-color: #FCCFED;
  padding: 0px 10px;
  border: 2px dashed #FEF9A8;
}

.userLocation input {
  font-size: 2rem;
  padding: 0px 10px;
  color: #FCCFED;
  border: 2px dashed #FEF9A8;
}

/*LIST OF ADOPTABLE PETS BY AGE*/
.adoptionOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adoptablePets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.adoptablePets p {
  text-transform: uppercase;
  font-family: "Pangolin", cursive;
  margin: 0;
  top: 190px;
  left: 0;
  width: 100%;
  color: #FEF9A8;
  z-index: 1;
  font-size: 1rem;
  padding: 0 5px;
  position: absolute;
}

.adoptablePets p:first-child {
  top: 50px;
  font-size: 1rem;
}

.adoptablePets button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  background: transparent;
  padding: 10px;
  border: none;
}

.adoptablePets img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  /*stop image stretching*/
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 5px 5px #FCCFED;
          box-shadow: 5px 5px #FCCFED;
}

/*PET ADOPTION PAGE*/
.petInformation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
  padding-bottom: 50px;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
      grid-template-areas: "title title title" "petImage petStory petStory" "petImage petFacts location" "breedFacts breedFacts breedFacts" "adoptMe adoptMe adoptMe";
}

.petInformation h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
  margin: 0;
  padding: 5px 0px;
  text-align: center;
}

.petInformation h3 {
  font-size: 2.5rem;
  color: #56b1b1;
  text-shadow: 2px 2px #284B52;
  font-family: "Pangolin", cursive;
  margin: 0;
}

.petInformation .petName {
  text-decoration: underline;
  -webkit-text-decoration-color: #FCCFED;
          text-decoration-color: #FCCFED;
}

.petInformation li {
  font-size: 1rem;
}

.petInformation ul {
  margin: 0;
  padding-left: 0;
}

.petInformation a {
  color: #FCCFED;
  text-decoration: none;
  text-transform: uppercase;
}

.petInformation a:hover {
  color: red;
  /*placeholder*/
}

.petInformation a:visited {
  color: red;
  /*placeholder*/
}

.petInformation p,
.petInformation ul {
  padding: 5px;
}

.petImage {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: petImage;
  padding: 50px;
}

.petImage img {
  -o-object-fit: cover;
     object-fit: cover;
  /*to not stretch image*/
  overflow: hidden;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px #FCCFED;
          box-shadow: 10px 10px #FCCFED;
}

.petFacts, .petStory, .petLocation, .breedFacts {
  padding: 20px;
  -webkit-box-shadow: 10px 10px #FCCFED;
          box-shadow: 10px 10px #FCCFED;
  background-color: rgba(255, 254, 234, 0.8);
}

.petFacts p, .petStory p, .petLocation p, .breedFacts p {
  font-size: 1rem;
  margin: 0;
}

.petFacts {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: petFacts;
}

.breedFacts {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: breedFacts;
}

.petStory {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: petStory;
}

.petLocation {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: location;
}

.adoptMe {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: adoptMe;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Pangolin", cursive;
  padding: 10px 0;
  width: 50%;
  margin: 10px auto;
  text-align: center;
  color: white;
  border-radius: 25px;
}

.adoptMe a {
  text-decoration: none;
  background-color: #FCCFED;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.adoptMe a:hover {
  color: red;
  /*placeholders*/
}

.adoptMe a:visited {
  color: white;
  text-decoration: none;
}

/*ALERT SECTION*/
.alert {
  background-color: #FCCFED;
  opacity: 90%;
  color: white;
  border-radius: 25px;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.alert h3 {
  font-family: "Pangolin", cursive;
  font-size: 4rem;
  padding-top: 50px;
  margin: 0;
}

.alert p {
  margin: 0;
  padding: 50px;
}

/*LOADING SCREEN*/
.loadingScreen {
  background-color: #ecf9ff;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 1vw;
  width: 98vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadingScreen span {
  animation: appear infinite alternate-reverse 1s;
}

.loadingScreen span:nth-of-type(2) {
  animation: appear infinite alternate-reverse 1s 0.33s;
}

.loadingScreen span:nth-of-type(3) {
  animation: appear infinite alternate-reverse 1s 0.66s;
}

.loadingScreen img {
  width: 20%;
}

footer {
  min-height: 5vh;
  text-align: center;
  text-transform: uppercase;
  font-family: "Pangolin", cursive;
  background-color: #56b1b1;
  color: #284B52;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer p {
  margin: 0;
  padding: 5px;
  font-size: 1rem;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
